<!-- <div class="create_wrapper"> -->
  <form action='/' method='POST' class='create_idea'>
    <h4>[Submit an Idea]</h4>
    <strong>Title:</strong><br><input type='text' name='idea[title]'/><br/>
    <strong>Description: </strong><br><textarea name='idea[description]'></textarea><br/>
    <strong>Tag: </strong><br><input type='text' name='idea[tags]'/><br/></br>
    <input type='submit'/>
  </form>
<!-- </div> -->
