<p><small>Add an image:</small></p>
<form action='/<%= idea.id %>/upload' method='POST' style="display: inline" enctype="multipart/form-data">
  <input type='file' name='myfile'/><br/>
  <input type='submit' value='Upload'/>
</form>
