<div class="header_wrapper">
  <h1>[IdeaBox]</h1>
  <%= erb :create_idea, locals: {ideas: ideas, idea: idea} %>
</div>
<div class="item_wrapper">
  <%= erb :idea_item, locals: {ideas: ideas, idea: idea, tags: tags} %>
</div>
