<% if session[:admin] %>
  <form action='/logout' method='POST' class="sign_out">
    <input type='submit' value='Sign out'/>
  </form>
  <div id="wrapper_wrapper">
    <div class="left_wrapper">
      <h1>[IdeaBox]</h1>
      <%= erb :create_idea, locals: {ideas: ideas, idea: idea} %>
    </div>
    <div class="right_wrapper">
      <h3>[Existing Ideas]</h3>
      <%= erb :idea_filter, locals: {ideas: ideas, idea: idea, tags: tags} %>
    <!-- </div>
    <div class="items"> -->
      <%= erb :idea_item, locals: {ideas: ideas, idea: idea, tags: tags} %>
    </div>
  </div>
<% else %>
  <%= erb :login %>
<% end %>
